<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="ai.free.vpn.tweeqoldvpn.getvpn.App"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:extractNativeLibs, android:label, android:theme, android:name, android:icon, android:roundIcon">


        <activity
            android:name="ai.free.vpn.tweeqoldvpn.getvpn.activity.SplashActivityVpn"
            android:exported="true"
            android:theme="@style/Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ai.free.vpn.tweeqoldvpn.getvpn.activity.main.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:name="ai.free.vpn.tweeqoldvpn.getvpn.activity.vpnlist.VPNListActivityVpnAuth" />
        <activity
            android:name="ai.free.vpn.tweeqoldvpn.getvpn.activity.vpninfo.VPNInfoActivityVpnAuth"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="ai.free.vpn.tweeqoldvpn.getvpn.activity.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:noHistory="true" />

        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <!--        <activity-->
        <!--            android:name="com.google.android.gms.ads.AdActivity"-->
        <!--            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"-->
        <!--            android:theme="@android:style/Theme.Translucent" />-->

        <activity
            android:name="ai.free.vpn.tweeqoldvpn.getvpn.activity.step.StepActivity"
            android:exported="true"
            android:theme="@style/Splash" />

        <activity
            android:name="ai.free.vpn.tweeqoldvpn.getvpn.activity.auth.ChooseLoginRegistrationActivity"
            android:exported="true"
            android:theme="@style/Splash" />

        <!--        <activity-->
        <!--            android:name="ai.free.vpn.tweeqoldvpn.getvpn.activity.auth.RegistrationActivity"-->
        <!--            android:exported="true"-->
        <!--            android:theme="@style/AppTheme.Launcher" />-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <service
            android:name="ai.free.vpn.tweeqoldvpn.getvpn.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--        <service-->
        <!--            android:name=".service.MyFirebaseInstanceIDService"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->

        <receiver
            android:name=".receiver.InstallListener"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>